[Unit]
Description=MMDVM Status Service
After=network.target

[Service]
Type=simple
User=mmdvm
Group=mmdvm
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/mmdvm-status /var/log/mmdvm
Restart=on-failure

[Install]
WantedBy=multi-user.target
