[Unit]
Description=DMRGateway
After=network-online.target mmdvmhost.service
Wants=network-online.target

[Service]
Type=simple
User=mmdvm
Group=mmdvm

# Arbeitsverzeichnis für Logs
WorkingDirectory=/var/log/mmdvm

ExecStart=/usr/local/bin/DMRGateway /etc/dmrgateway
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target