[Unit]
Description=YSFGateway
After=network-online.target mmdvmhost.service
Wants=network-online.target

[Service]
User=mmdvm
Group=mmdvm
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/YSFGateway /etc/ysfgateway
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
