# ./site.conf  (sample)
# Required user settings (edit these, keep format KEY=VALUE)
Callsign=YOURCALL       # Station/Repeater Callsign
Module=B                # D-Star Module b=70cm
Id=123456               # DMR ID
Duplex=1                # 1=Repeater 0=Station
RXFrequency=431850000   # Hz
TXFrequency=439450000   # Hz
Latitude=49.123456
Longitude=11.123456
Height=123
Location=City
Description=Country
URL=http://www.yourURL.de  # optional
reflector1=DCS001 B     # D-Star Default Reflector
Suffix=Y                # YSF Suffix
Startup=DE-C4FM-Germany # Default YSF Reflector
Address=2621.master.brandmeister.network  # Default Brandmeister Server URL
Password=BMpassword     # Brandmeister Password
Name=BM_2621_Germany    # Default Brandmeister Server
