[General]
Callsign=YOUR_CALL
Suffix=Y
RptAddress=127.0.0.1
RptPort=3200
LocalAddress=127.0.0.1
LocalPort=4200
Daemon=0
Id=123456
WiresXMakeUpper=1
Debug=0
WiresXCommandPassthrough=0

[Info]
RXFrequency=431850000
TXFrequency=439450000
Power=1
Latitude=49.875400
Longitude=11.023300
Height=0
Name=YOUR_CALL_OpenDVM
Description="myCountry"

[Log]
DisplayLevel=0
FileLevel=2
FilePath=/var/log/mmdvm
FileRoot=YSFGateway

[APRS]
Enable=0
Address=127.0.0.1
Port=8673
Suffix=Y
Description=APRS for YSFGateway
Symbol="Wi"

[Network]
Startup=DE-C4FM-Germany
Reconnect=1
InactivityTimeout=1440
Revert=1
Debug=0
Options="32,88"

[YSF Network]
Enable=1
Port=42000
Hosts=/usr/local/etc/YSFHosts.txt
ReloadTime=1440
ParrotAddress=127.0.0.1
ParrotPort=42012
YSF2DMRAddress=127.0.0.1
YSF2DMRPort=42013
YSF2NXDNAddress=127.0.0.1
YSF2NXDNPort=42014
YSF2P25Address=127.0.0.1
YSF2P25Port=42015

[FCS Network]
Enable=1
Port=42001
Rooms=/usr/local/etc/FCSHosts.txt

[GPSD]
Enable=0
Port=2947
Address=127.0.0.1

[Remote Commands]
Enable=1
Port=6073
